.avatar {
  background: $red;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.small-avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
}
