figure {
  text-align: center;
  margin: 30px auto;

  * {
    max-width: 100%;
  }
}

figcaption {
  @extend .small-text;
  max-width: 500px;
  margin: 5px auto 0 auto;
  color: $color-text--muted;
}
