figure {
    margin: 2em 0;
}

figcaption {
    border-top: transparentize(black, .5);
    border-bottom: transparentize(black, .5);
    margin-top: 1em;
    padding: .5em 0;
    font-size: .8em;
    color: mix(white, black, 45%);
}
