figure {
  margin: 2em 0;
  max-width: 550px;
}

figcaption {
  border-top: 1px solid mix($black, $white, 20%);
  border-bottom: 1px solid mix($black, $white, 20%);
  margin-top: 1em;
  padding: .5em 0;
  font-size: .8em;
  color: lighten($color-text, 30%);
}