%link {
  text-decoration: none;
  color: inherit;
  background: linear-gradient($color-bg, $color-bg),
  linear-gradient($color-bg, $color-bg),
  linear-gradient($color-text, $color-text);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 $color-bg, -0.03em 0 $color-bg, 0 0.03em
  $color-bg, 0 -0.03em $color-bg, 0.06em 0 $color-bg, -0.06em 0
  $color-bg, 0.09em 0 $color-bg, -0.09em 0 $color-bg, 0.12em 0
  $color-bg, -0.12em 0 $color-bg, 0.15em 0 $color-bg, -0.15em 0
  $color-bg;
  background-position-y: 86%,86%, 86%;
  background-position-x: 0%, 100%, 0%;

  &::selection {
    text-shadow: 0.03em 0 $teal, -0.03em 0 $teal, 0 0.03em
    $teal, 0 -0.03em $teal, 0.06em 0 $teal, -0.06em 0
    $teal, 0.09em 0 $teal, -0.09em 0 $teal, 0.12em 0
    $teal, -0.12em 0 $teal, 0.15em 0 $teal, -0.15em 0 $teal;
    background: $teal;
  }

  &::-moz-selection {
    text-shadow: 0.03em 0 $teal, -0.03em 0 $teal, 0 0.03em
    $teal, 0 -0.03em $teal, 0.06em 0 $teal, -0.06em 0
    $teal, 0.09em 0 $teal, -0.09em 0 $teal, 0.12em 0 $teal,
    -0.12em 0 $teal, 0.15em 0 $teal, -0.15em 0 $teal;
    background: $teal;
  }

  &:before, &:after, *, *:before, *:after {
    text-shadow: none;
  }

  &:visited{
    color: inherit;
  }
}
