.post {

  h2, h3, h4, h5, h6 {
    margin: 1em 0;
  }

  h2, h4, h6 {
    text-decoration: underline;
  }

  h3, h5 {
    color: $color-text--accent;
  }

  h5 {
    font-size: 1em;
  }

  li {
    margin-bottom: .5em;
  }

  &__content {
    margin: 1em 0 3em 0;

    p {
      text-align: justify;
      margin: 1.3em 0;
    }

    a {
      @extend %link;
      text-decoration: underline;
    }

    @include respond-to(align-left) {
      p {
        text-align: left;
      }
    }
  }

  &__meta {
    @extend %accent-font;
    margin: 1.5em 0 2em 0;
    padding-bottom: .5em;
    font-size: .9em;
    border-bottom: 1px solid $black;
  }

  &__category {
    color: $color-text--accent;
  }
}
