.posts-list {
  li {
    list-style: none;
  }

  .post__title {
    display: inline-block;
    
    &:hover {
      color: $gray;
      text-decoration: underline;
    }
  }

  .post__meta {
    border: 0;
    display: inline-block;
    margin: .3em 1em 0 0;
    font-style: normal;
    font-size: .9em;
  }
}

ul.posts-list {
  margin: 0;
  padding: 0;
}
