.posts-list {

  li {
    margin-bottom: 5px;
    font-size: .9rem;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;

    * {
      display: inline-block;
      height: 25px;
      vertical-align: middle;
    }
  }

  .title {
    display: inline-block;
    max-width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;

    &:hover {
      color: $red;
    }
  }

  .meta {
    border: 0;
    display: inline-block;
    margin-right: 5px;
    font-style: italic;
    width: 90px;
  }
}

ul.posts-list {
  margin: 0;
  padding: 0;
}
