.post {

  &__content {
    p {
      margin: 1em 0;
      text-align: justify;
    }

    a {
      @extend %link;
      text-decoration: underline;
    }

    ul {
      @extend %formatted-list;
    }

    @include respond-to(align-left) {
      p {
        text-align: left;
      }
    }
  }

  &__meta {
    font-size: .9em;
  }

  &__date {
    color: $color-primary;
  }

  &__title {
    @extend %transition;
    transition-property: color;

    &:hover {
      color: $color-primary;
    }
  }
}
