.post {
  h1.post__title {
    line-height: 1.2;
    margin-bottom: .5em;
  }

  &__meta {
    font-style: italic;
    padding-bottom: .5em;
    font-size: .9em;
    color: transparentize($color-text, .2);
    border-bottom: 1px dotted
    transparentize($color-text, .5);
  }

  &__category {
    @extend %link;
  }

  &__content {
    font-size: 1em;
    margin: 2em auto 0 auto;

    img {
      max-width: 100%;
    }

    p {
      text-align: justify;
    }

    @include respond-to(align-left) {
      p {
        text-align: left;
      }
    }
  }

  a {
    @extend %link;
  }

  h2 {
    color: $color-text;
  }

  blockquote {
    border-left: transparentize($color-text, .3) 2px solid;
    padding-left: 15px;
    font-style: italic;
    font-size: 1.2em;
    color: transparentize($color-text, .3);
  }
}
