.tags {
  padding-top: 1em;
  font-size: .9em;

  ul {
    margin: 0;
  }
}

.tag {
  color: blue;
  list-style: none;
  display: inline-block;
  margin-right: .5em;
  border: 1px solid blue;
  padding: .2em .5em;

  &:hover {
      cursor: pointer;
      background: blue;
      color: white;
  }

  a {
    color: inherit;
  }
}
