.tags {
  padding-top: 1em;
  font-size: .9em;

  ul {
    margin: 0;
  }
}

.tag {
  list-style: none;
  display: inline-block;
  margin-right: .5em;
  border-radius: 2px;
  background: $color-text;
  color: transparentize($white, .1);
  padding: .2em .5em;

  &:hover {
    cursor: pointer;
    background: lighten($color-text, 5%);
  }

  a {
    color: inherit;
  }
}
