%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%link {
  text-decoration: underline; // TODO
}

%transition {
  transition-duration: .2s;
  transition-timing-function: ease;
}

%formatted-list {
  list-style-type: disc;
  margin-left: 2em;
}

%heading {
  margin-bottom: .5em;
}

%module {
  padding: 1.75em;
  border-radius: 2px;
  border: 1px solid gray;
}
