%accent-font {
  font-family: 'OpenSans-Bold';
}

%flex-container {
  display: flex;
}

%link {
  color: $color-text--link;

  &:hover {
    text-decoration: underline;
    color: darken($color-text--link, 10%);
  }
}

%transition {
  transition-duration: .2s;
  transition-timing-function: ease;
}

%formatted-list {
  list-style-type: disc;
  margin-left: 2em;
}

%heading {
  margin-bottom: .5em;
}

%module {
  background: mix($black, $white, 1%);
  border: 1px solid mix($black, $white, 8%);
  padding: 1.5em 2em;
  font-size: .8em;
}

