.flex,
%flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

%transition {
  transition-duration: .2s;
  transition-timing-function: ease;
}

%formatted-list {
  list-style-type: disc;
  margin-left: 2em;
}

%overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}