$breakpoints: (
  'show-cols-2': (min-width: 700px),
  'show-cols-3': (min-width: 800px),
  'big-screen': (min-width: 850px),
  'contain-90': (min-width: 650px),
  'expand-header-home': (min-width: 700px),
  'expand-footer': (min-width: 800px),
  'expand-page': (min-width: 800px),
  'align-left': (min-width: 500px),
  'show-sidebar': (min-width: 825px),
);

$black: #000;
$white: #fff;

$gray: #2f4858;
$red: #f93943;
$purple: #7b5e7b;
$dark-purple: #1c0221;
$seafoam: #9dcbba;

// Text colors
$color-text: transparentize(mix($gray, $black), .15);
$color-text--header: $color-text;
$color-text--accent: mix($seafoam, $gray, 25%);
$color-text--header--accent: mix($dark-purple, $red, 15%);
$color-text--accent-inline: mix($red, $purple, 5%);
$color-text--link: mix($dark-purple, $red, 15%);
$color-text--meta: mix($gray, $seafoam, 30%);

// Background colors
$color-bg--main: mix($seafoam, $white, 1%);
$color-bg--header: mix($seafoam, $white, 20%);
$color-bg--footer: mix($seafoam, $white, 20%);
