<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishlist - Tara Vancil</title>

    <!-- open graph -->
    <meta property="og:url" content="https://taravancil.com/wishlist"/>

    <meta property="og:type" content="website">

    <meta property="twitter:site" content="@taravancil">

    <meta property="og:title" content="Wishlist - Tara Vancil">
    <meta name="twitter:title" content="Wishlist - Tara Vancil">

    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/wishlist.min.css" />
    <link rel="icon" href="/images/favicon.png">
  </head>

  <body class="wishlist">
    {{ partial "breadcrumbs.html" . }}

    <div class="container narrow">
      <main role="main">
        <h1>Wishlist</h1>

        <p>
          This is a list of things I want, need, or like. If you're thinking about buying me a gift, thank you! You're welcome to buy something directly from the list, or use the list as inspiration.
        </p>

        <ul class="wishlist undecorated-list">
          {{ range sort $.Site.Data.wishlist "price" "asc" }}
            <li class="item">
              <span class="thumbnail-container">
                <img class="thumbnail" src="{{ .image }}" alt="" />
              </span>

              <div class="info">
                <div class="header">
                  <a href="{{ .buyLink }}" class="wishlist-title">
                    {{ .title }}
                  </a>

                  {{ if .price }}
                    <span class="price">${{ .price }}</span>
                  {{ end }}
                </div>

                {{ if .size }}
                  <span class="size">My size: {{ .size }}</span>
                {{ end }}

                {{ if .note }}
                  <p>
                    Note: {{ .note }}
                  </p>
                {{ end }}

                {{ if .buyTitle }}
                  <a class="btn btn--small small-text dashed-border buy-link" href="{{ .buyLink }}">
                  Buy on {{ .buyTitle }}
                {{ end }}
                </a>
              </div>
            </li>
          {{ end }}
        </ul>
      </main>
    </div>
    {{ partial "footer.html" (dict "size" "wide") }}
  </body>
</html>
