<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wishlist - Tara Vancil</title>

  <!-- open graph -->
  <meta property="og:url" content="https://taravancil.com/wishlist" />

  <meta property="og:type" content="website">

  <meta property="twitter:site" content="@taravancil">

  <meta property="og:title" content="Wishlist - Tara Vancil">
  <meta name="twitter:title" content="Wishlist - Tara Vancil">

  <meta name="twitter:card" content="summary">

  <link rel="dns-prefetch" href="https://fonts.taravancil.com">
  <link rel="preload" href="/css/style.min.css" as="style" />
  <link rel="preload" href="/css/wishlist.min.css" as="style" />
  <link rel="preload" href="/js/wishlist.js" as="script" />

  <link rel="stylesheet" href="/css/style.min.css" />
  <link rel="stylesheet" href="/css/wishlist.min.css" />
  <link rel="icon" href="/images/favicon.png">
</head>

<body class="wishlist">
  {{ partial "breadcrumbs.html" . }}

  <div class="container narrow">
    <main role="main">
      <h1>Wishlist</h1>

      <p>
        This is a list of things I want, need, or like. If you're thinking about buying me a gift, thank you! You're
        welcome to buy something directly from the list, or use the list as inspiration.
      </p>

      <p>
        If you buy something, please help me keep this list up-to-date by clicking the "I bought this" button. You will
        be asked to enter a 6-character code, which if I know you personally, you should have received via email. Lost
        the
        code, or never received it in the first place? <a href="mailto:contact@taravancil.com">Email
          me</a>!
      </p>

      <ul class="wishlist undecorated-list">
        {{ range $index, $el := sort $.Site.Data.wishlist "price" "asc" }}
        <li data-key="{{ $index }}">
          <span class="wishlist-thumbnail-container">
            <img class="wishlist-thumbnail" src="{{ .image }}" alt="" />
          </span>

          <div class="wishlist-info">
            <div class="wishlist-header">
              <a href="{{ .buyLink }}" class="wishlist-title">
                {{ .title }}
              </a>

              {{ if .price }}
              <span>${{ .price }}</span>
              {{ end }}
            </div>

            {{ if .size }}
            <span>My size: {{ .size }}</span>
            {{ end }}

            {{ if .note }}
            <p>
              Note: {{ .note }}
            </p>
            {{ end }}

            <div class="wishlist-buttons flex">
              {{ if .buyTitle }}
              <button class="wishlist-toggle-purchased-form-btn wishlist-i-bought-this-btn btn btn--clear" data-key="{{ $index }}">
                I bought this
              </button>

              <span id="wishlist-success-feedback" data-key="{{ $index }}" class="hidden small-text">
                You bought this :-)&nbsp;&nbsp;
              </span>

              <a class="
                  wishlist-buy-link btn btn--small small-text" href="{{ .buyLink }}" data-key="{{ $index }}">
                Buy <span class="tablet-el">&nbsp;on {{ .buyTitle }}</span>
              </a>

              <form class="hidden small-text" data-key="{{ $index }}">
                <input name="wishlist-url" type="hidden" value="{{ .buyLink }}">

                <p class="small-text">
                  Enter the 6-character code I sent you via email. Need the code? <a href="mailto:contact@taravancil.com">Email
                    me</a>.
                </p>

                <label for="wishlist-code">Code</label>
                <input name="wishlist-code" type="text" required aria-required="true" pattern=".{6}" aria-describedby="wishlist-code-error">

                <button type="submit" class="wishlist-submit-purchased-form-btn btn btn--small btn--primary" data-key="{{ $index }}">
                  Submit
                </button>

                <button class="wishlist-toggle-purchased-form-btn btn btn--clear" type="button" data-key="{{ $index }}">
                  Cancel
                </button>

                <p id="wishlist-generic-error" class="form-feedback--error italic"></p>
                <p id="wishlist-code-error" class="form-feedback--error italic"></p>
              </form>
              {{ end }}
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
    </main>
  </div>
  {{ partial "footer.html" }}
  <script src="/js/wishlist.js"></script>
</body>

</html>