$teal: #00ffda;
$teal--transparent: transparentize($teal, .7);

$purple: #9b0267;
$purple--transparent: transparentize($purple, .5);
$purple--border: mix($purple, #eee, 2%);

$pink: #fb0059;
$red:  #eb0000;
$orange: #fe432b;

$color-text: #000;
$color-text--muted: mix($purple, #777, 7%)