$color-text: #222;
$color-text: #232323;
$color-bg: #fffffd;

$purple: #503BC3;
$red: #fe4d47;
$teal: #72CAB9;

$color-text--muted: mix($color-text, white, 75%);
$color-text--teal: mix($color-text, $teal, 7%);
// $color-text--teal: $teal;

$gray--light: mix($color-text, white, 10%);