*, *:before, *:after {
  box-sizing: border-box;
}

html, body, header, nav, div, h1, h2, p, h3, h4, h5 {
  display: block;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p:not(:last-child),
table {
  display: block;
  margin-bottom: 25px;
}

a, a:hover {
  color: inherit;
}

button,
.btn {
  border: 0;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}