body.bookshelf {

  main {

    a {
      text-decoration: underline;
    }

    h2 {
      font-size: 1rem;
      font-weight: 400;
      border-bottom: 1px dotted;
      margin-bottom: 15px;
    }

    ul,
    ol {
      padding-left: 20px;
    }

    ul {
      list-style: disc;
      padding-left: 20px;
    }

    li {
      font-size: 14px;
      margin-bottom: 5px;

      * {
        font-size: 14px;
        display: inline-block;
      }
    }

    h3 {
      border-bottom: 0;
      margin: 0;
    }
  }
}