body.home {

  .hero {
    padding: 4em 0;
    padding-bottom: 4.3em;
    position: relative;
    border-bottom: 2px solid;
    border-top: 2px solid;

    .container {
      position: relative;
    }

    .shapes {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 700px;
      height: 700px;
      z-index: -1;
      user-select: none;

      @media (min-width: 700px) {
        width: 900px;
        height: 900px;
      }

      @media (min-width: 1000px) {
        width: 1300px;
        height: 1300px;
      }
    }
  }

  h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 1;
    padding: 0;
    margin-top: 0;
    margin-bottom: 2rem;

    @media (min-width: 600px) {
      font-size: 3.5rem;
      margin-left: -.5rem;
    }
  }

  .first-name,
  .last-name {
    display: block;

    @media (min-width: 600px) {
      display: inline-block;
    }
  }

  .intro {
    font-family: Rubik; // TODO
    margin-bottom: 4rem;
    position: relative;
    max-width: 550px;
    font-size: .9rem;

    @media (min-width: 600px) {
      font-size: .95rem;
    }

    @media (min-width: 1000px) {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    a {
      // @extend %link; // TODO
      text-decoration: underline;
    }
  }

  .nav-links {

    a {
      padding: .25em .5em;
      margin-right: .5em;
      border: 2px solid;
      background: $color-bg;

      &:hover {
        color: $red;
      }
    }
  }

  .recent-activity {
    padding: 3rem 0;

    h2 {
      @extend %antialiased;
      text-transform: uppercase;
      font-size: .85rem;
      letter-spacing: .75px;
      padding: 3px 8px;
      background: $color-text;
      color: $color-bg;
      display: inline;
    }

    .posts {
      margin-bottom: 2rem;
    }

    .container {
      @extend %flex-container;
      flex-direction: column;

      @media (min-width: 800px) {
        flex-direction: row;
        flex-wrap: nowrap !important;

        .posts {
          flex: 2;
          margin: 0 100px 2rem 0;
        }
      }
    }

    .talks,
    .posts {
      flex: 1;
    }

    .talks-list,
    .posts-list {
      margin-top: 2rem;
    }

    .talks {

      li:not(:last-child) {
        margin-bottom: 2rem;
      }

      h3 {
        font-size: 1rem;
        text-decoration: underline;

        &:hover {
          color: $red;
        }
      }

      .links {
        margin-left: 5px;

        a {
          text-decoration: underline;

          &:hover {
            color: $red;
          }
        }

        span {
          font-size: .65rem;
          margin: 0 2px;
          color: $color-text--muted;
        }
      }
    }
  }

  .projects {
    padding-bottom: 3rem;

    h2 {
      @extend %antialiased;
      text-transform: uppercase;
      font-size: .85rem;
      letter-spacing: .75px;
      padding: 3px 8px;
      background: $color-text;
      color: $color-bg;
      display: inline;
    }
  }

  .projects-list {
    @extend %flex-container;
    margin-top: 2rem;

    .project {
      width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;
      font-size: .85rem;
      border: 1px solid $color-text;
      position: relative;

      @media (min-width: 550px) {

        .thumbnails {
          display: inline-block;
          width: 130px;
          margin-top: 0;
        }

        .img-container.ss {
          width: 300px;
          margin-right: 5px;
        }
      }

      &.list-item {

        .desc {
          display: block !important;
        }

        .links-list {
          margin-bottom: 0;
        }
      }

      @media (min-width: 850px) {
        width: 345px;
        margin-right: 2rem;

        .thumbnails {
          display: block;
          margin-top: 5px;
        }

        .img-container.ss {
          width: 100%;
        }
      }

      @media (min-width: 1130px) {
        width: 468px;
        margin-right: 2rem;

        .thumbnails {
          display: inline-block;
          margin-top: 0;
        }

        .img-container.ss {
          width: 290px;
        }
      }
    }

    .project.active {
      width: 100%;
      max-width: 850px;

      .img-container.ss {
        width: 100%;
        max-width: 650px;
        transition: width .4s ease;

        &:hover {

          img {
            filter: none !important;
          }

          &::after {
            display: none !important;
          }
        }
      }

      .summary {
        display: none;
      }

      .desc {
        display: block;
      }

      .more {
        display: none;
      }

      .less {
        display: inline;
      }
    }

    .title {
      margin-top: 0;
      margin-bottom: 1.5rem;
      border-bottom: 1px dotted;
    }

    .summary,
    .desc {
      margin-top: 1.5rem;
    }

    .desc {
      display: none;
      max-width: 600px;
    }

    .more,
    .less {
      @extend %antialiased;
      cursor: pointer;
      background: $color-text;
      color: $color-bg;
      padding: 3px 8px;
      font-size: .85rem;
      font-weight: 500;
      position: absolute;
      bottom: 1rem;
      left: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .less {
      display: none;
    }

    .img-container,
    img {
      display: inline-block;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      cursor: pointer;
      display: block;
    }

    .img-container {
      border: 1px solid #ddd;
      position: relative;
      overflow: hidden;
    }

    .img-container.ss {
      width: 100%;

      &:hover {

        img {
          filter: opacity(.75);
        }

        &::after {
          display: block;
        }
      }

      &::after {
        display: none;
        content: '\2194';
        position: absolute;
        width: 28px;
        height: 18px;
        left: calc(50% - 14px);
        top: calc(50% - 9px);
        text-align: center;
        background: $color-text;
        color: $color-bg;
        vertical-align: baseline;
        line-height: 18px;
        font-size: 18px;
        cursor: pointer;
      }
    }

    .img-container.ss,
    .thumbnails {
      vertical-align: top;
    }

    .thumbnails {
      @extend %flex-container;
      flex-wrap: wrap;
      width: 100%;
      display: block;
      margin-top: 7px;

      .img-container,
      img {
        height: 35px;
        width: auto;
      }

      .img-container {
        margin-right: 3px;

        &:hover {
          border-color: darken(#ddd, 15%);
        }
      }
    }

    .links-list {
      list-style: disc;
      margin-left: 20px;
      margin-bottom: 3rem;
      display: block;

      li {
        text-decoration: underline;

        &:hover {
          color: $red;
          text-decoration: underline;
        }
      }
    }
  }
}
