body.nails {

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    @include respond-to(desktop) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  li {
    line-height: initial;
    height: auto;
    margin-bottom: 0;

    * {
      height: auto;
    }

    .title {
      max-width: 100%;
    }

    img {
      display: block;
      max-width: 100%;
    }

    a:hover {

      .title {
        color: $red;
      }
    }
  }
}