body.post {

  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2,h3,h4,h5 {
    margin-top: 2.25rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px dotted;
  }

  h4 {
    border-bottom: none;
    text-transform: uppercase;
    font-size: .95rem;
  }

  main {
    position: relative;

    p,
    ul,
    ol,
    table {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
  }

  .meta {
    font-style: italic;
    padding-bottom: .5em;
    font-size: .9em;
    color: transparentize(black, .2);
  }

  .category {
    @extend %link;
  }

  .content {
    font-size: 14.5px;
    margin: 1rem auto 0 auto;

    .div-container {
      position: relative;
    }

    // aside {
    //   position: absolute;
    //   right: 10px;
    //   top: 0;
    //   color: rgba(0,0,0,.7);
    // }

    img {
      max-width: 100%;
    }

    a {
      @extend %link;
    }

    ul,
    ol {
      margin-bottom: 20px;
      margin-left: 40px;

      li {
        margin-bottom: 4px;
      }
    }

    ul {
      list-style: disc;
    }
 }

  blockquote {
    color: transparentize(black, .3);
    border-left: 2px solid;
    padding-left: 15px;
    font-style: italic;
    font-size: 1.2em;
  }

  .img-grid {

    img {
      display: inline-block;
      width: calc(50% - 10px);

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &.wide {
      width: 175%;
      margin-left: -42.5%;
    }

    &.center {
      text-align: center;
    }
  }
}
