body.post {

  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }

  h2,h3,h4,h5 {
    margin-top: 2.25rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 400;
    border-bottom: 1px dotted;
  }

  h4 {
    border-bottom: none;
    text-transform: uppercase;
    font-size: .95rem;
  }

  main {
    position: relative;

    p,
    ul,
    ol,
    table {
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
  }

  .meta {
    font-style: italic;
    padding-bottom: .5em;
    font-size: .9em;
    color: transparentize(black, .2);
  }

  .category {
    @extend %link;
  }

  .content {
    font-size: 15px;
    margin: 1rem auto 0 auto;

    img {
      max-width: 100%;
    }

    a {
      @extend %link;
    }
  }

  blockquote {
    color: transparentize(black, .3);
    border-left: 2px solid;
    padding-left: 15px;
    font-style: italic;
    font-size: 1.2em;
  }
}
