body.post {

  h1 {
    font-size: 2rem;
  }

  h4 {
    border-bottom: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
  }

  main {
    position: relative;

    p,
    ul {
      font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    }
  }

  .title {
    line-height: 1.2;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: .5em;
  }

  .meta {
    font-style: italic;
    padding-bottom: .5em;
    font-size: .9em;
    color: transparentize(black, .2);
  }

  .category {
    @extend %link;
  }

  .content {
    font-size: 1em;
    margin: 2em auto 0 auto;

    img {
      max-width: 100%;
    }

    a {
      @extend %link;
    }
  }

  blockquote {
    color: transparentize(black, .3);
    border-left: 2px solid;
    padding-left: 15px;
    font-style: italic;
    font-size: 1.2em;
  }
}
