article.recipe {

  .description {
    font-style: italic;
    border-bottom: 1px dotted;
    padding-bottom: 5px;
    font-weight: 300;
  }
}

body.recipes {

  h2 {
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px dotted;
    margin-bottom: 15px;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }

  li {
    font-size: 14px;
    margin-bottom: 5px;

    * {
      font-size: 14px;
      display: inline-block;
    }
  }
}