@import "../base/colors";
@import "../utils/all";

body.home {
  main {
    margin: 0;
  }

  .hero-blurb {
    margin: 20px 0;
    font-size: 16px;

    .module {
      max-width: 98%;
      padding: 20px;
      border: 1px solid $red;
      box-shadow: 5px 5px 0 $red;
      background: #fff;
      margin: -130px auto 40px auto;
      transform: rotate(-2deg) translateX(-5px);
      font-size: 28px;

      @media (min-width: 990px) {
        transform: rotate(-2deg) translateX(-20px);
      }

      p {
        font-style: italic;
      }
    }

    h1 {
      font-weight: 700;
      font-style: italic;
      color: $red;
    }

    @include respond-to(tablet) {
      margin: 20px 0 30px 0;
    }

    .tour-link {
      display: inline-flex;
      align-items: center;
    }

    .magnify {
      width: 18px;
      margin: 0 0 0 5px;
      filter: saturate(6) hue-rotate(20deg) contrast(1);
    }
  }

  .latest-activity {
    margin-top: 20px;

    @media (min-width: 990px) {
      padding-left: 10px;
    }

    .speaking,
    .latest-posts,
    .links-i-love {
      flex-direction: column;
      align-items: flex-start;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    ul {
      margin: 0 0 10px 5px;
    }

    a.btn {
      margin-top: 15px;
      width: 100%;

      @media (min-width: 450px) {
        width: auto;
      }

      @media (min-width: 990px) {
        width: 100%;
      }
    }
  }

  .highlighted-links {
    margin: 40px 0;

    .heading {
      vertical-align: top;
      line-height: 1;
    }

    .link {
      @extend %flex-container;
      align-items: flex-start;
      padding-right: 20px;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      > div {
        width: 100%;
      }

      .thumbnails {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
        grid-gap: 5px;

        img {
          max-width: 100%;
        }
      }

      &.blog {
        .icon {
          filter: saturate(2) hue-rotate(42deg) contrast(2.5);
        }
      }

      &.nails {
        p {
          margin-bottom: 5px;
        }

        .icon {
          filter: contrast(3.5) hue-rotate(90deg) saturate(10);
        }
      }

      &.projects {
        p {
          margin-bottom: 5px;
        }

        .thumbnails {
          grid-template-columns: repeat(auto-fill, minmax(55px, 1fr));
        }

        .icon {
          filter: contrast(1) saturate(8) hue-rotate(170deg) invert(90%);
        }
      }

      &.support .icon {
        filter: saturate(1.75) hue-rotate(35deg) contrast(4);
      }
    }

    .icon {
      flex: 0 0 25px;
      max-width: 25px;
      margin-right: 15px;
      font-size: 28px;
      text-align: center;
    }
  }

  .me-gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    max-width: 550px;
    margin: auto;

    @media (min-width: 750px) {
      margin: 0;
    }

    img {
      max-width: 100%;
      outline: 1px solid;
    }

    a:nth-child(1) img {
      transform: rotate(-5deg);
    }

    a:nth-child(2) img {
      transform: rotate(3deg);
    }

    a:nth-child(3) img {
      transform: rotate(-4deg);
    }

    a:nth-child(4) img {
      transform: rotate(2deg);
    }

    a:nth-child(5) img {
      transform: rotate(-3deg);
    }
  }

  .highlighted-talk {
    @extend %flex-container;
    margin-bottom: 15px;

    @media (min-width: 670px) {
      margin: 0;
    }

    .thumbnail-container {
      position: relative;
      width: 65px;
      margin-right: 10px;
      border: 1px solid $teal--transparent;

      &:before,
      &:after {
        position: absolute;
        display: block;
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: transparentize($teal, 0.85);
        top: 0;
        left: 0;
      }

      &:hover {
        &:before {
          background: $teal--transparent;
        }
      }

      &:after {
        content: "▶︎";
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 0 0 0 3px;
        font-size: 17px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: $teal;

        border: 1px solid transparentize(#000, 0.85);
        color: #fff;
      }
      img {
        max-width: 100%;
      }
    }
  }
}
