body.post {
  main {
    position: relative;
  }

  .info {
    margin-right: 40px;

    .date {
      font-style: italic;
    }

    .tags {
      margin-top: 20px;
    }
  }

  .content {
    width: 100%;
    max-width: 635px;

    img {
      max-width: 100%;
    }
  }

  .img-grid {
    img {
      display: inline-block;
      width: calc(50% - 10px);

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &.wide {
      width: 175%;
      margin-left: -42.5%;
    }

    &.center {
      text-align: center;
    }
  }
}
