@import "../base/colors";

.project-screenshots {
  grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
}

.project-screenshot {
  border: 1px solid $purple--border;
  padding: 4px;
  max-width: 100%;
}

a:hover .project-screenshot {
  border: 5px solid $teal--transparent;
  padding: 0;
}
