<!doctype html>
<html>
  {{ partial "head.html" . }}
  <body class="post">
    {{ partial "nav.html" }}
    <div class="container">
      <main class="main">
        <article class="content">
          <div class="info">
            <h1 class="title">{{ .Title }}</h1>
            <div class="meta">
              Posted on
              <span class="date">
                {{ .Date.Format "Jan 02, 2006" }}
              </span>
            </div>
          </div>

          <div class="content">
            {{ .Content }}
            {{ partial "tags.html" . }}
          </div>
        </article>
      </main>
      </div>
      {{ partial "footer.html" . }}
  </body>
</html>
