<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tara Vancil’s Reading List</title>

    <!-- open graph -->
    <meta property="og:url" content="https://taravancil.com/reading-list"/>

    <meta property="og:type" content="website">

    <meta property="twitter:site" content="@taravancil">

    <meta property="og:title" content="Tara Vancil’s Reading List">
    <meta name="twitter:title" content="Tara Vancil’s Reading List">

    <meta name="twitter:card" content="summary">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rubik:400,500,700">
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="icon" href="/favicon3.ico">
  </head>

  <body class="reading-list post">
    {{ partial "nav.html" }}
    <div class="container">
      <main>
        <h1>Reading List</h1>

        <p>
          This is an ongoing list of books I read, maintained in the spirit of Susan Fowler’s <a href="">reading list</a> and Patrick Collison’s <a href="">bookshelf</a>. I've marked the ones I particularly enjoyed with
          an asterisk (*).
        </p>

        <h2>Currently reading</h2>
        <ul>
          {{ range $.Site.Data.books.current.books }}
            <li>
              <h3>
                <a href="{{ .link }}">{{ .title }}</a>
              </h3>
              by {{ .author }}
            </li>
          {{ end }}
        </ul>

        <h2>2017</h2>
        <ul>
          {{ range $.Site.Data.books.twentyseventeen.books }}
            <li>
              <h3>
                <a href="{{ .link }}">{{ .title }}</a>
              </h3>
              by {{ .author }}
              {{ if .recommend }} * {{ end }}
            </li>
          {{ end }}
        </ul>
      </main>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
