<!doctype html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div class="container">
      {{ partial "header.html" . }}
      <main>
        <div class="main__content">
          <h1>{{ .Title }}</h1>

          {{ range .Data.Pages.GroupByDate "2006" }}
            <h2 class="blog__year">{{ .Key }}</h2>
            <ul class="posts-list">
              {{ range .Pages }}
                {{ .Render "li" }}
              {{ end }}
            </ul>
          {{ end }}
        </div>
        {{ partial "sidebar.html" . }}
      </main>
    </div>
  </body>
</html>
