<!doctype html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <main class="main">
      <div class="container">
        <div class="main__content">
          <h1>{{ .Title }}</h1>

          {{ range .Data.Pages.GroupByDate "2006" }}
            <h2 class="blog__year">{{ .Key }}</h2>
            <ul class="posts-list">
              {{ range .Pages }}
                {{ .Render "li" }}
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
