.footer {
  position: relative;

  .container {
    & > .flex {
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 10px 0;
    }

    .flex-child--right {
      flex-basis: 100%;
      margin-top: 20px;
    }

    .colophon {
      max-width: 100%;
    }

    @include respond-to(tablet) {
      & > .flex {
        flex-wrap: nowrap;
      }

      .flex-child--right {
        flex-basis: auto;
        margin-top: 0;
      }

      .colophon {
        max-width: 325px;
      }
    }
  }

  .links-list {
    min-width: 125px;

    h2 {
      display: inline-block;
      margin: 0 0 5px 0;
    }
  }

  .license {
    margin-top: 10px;
    padding: 7px 0;
    text-align: center;
    border-top: 1px dashed;
  }

  .colophon {
    margin-top: 10px;
    max-width: 325px;
  }

  .search {
    input {
      margin-right: 5px;
      width: 100%;
      height: 28.5px;
    }

    .btn {
      width: 115px;
    }

    label {
      width: 0;
      opacity: 0;
    }
  }
}
