.footer {
    padding: 1em 0;
    color: blue;
    border-top: 1px dotted;
    margin-top: 2em;

    &__link {
        list-style: none;
        color: inherit;
        margin-bottom: 1em;

        &:hover {
            text-decoration: underline;
        }
    }

    .links {
        @extend %flex-container;
        list-style: none;

        li {
            margin: 0 1.5em;
            margin-bottom: .5em;
        }

        li:first-child {
            margin-left: 0;
        }
    }
}
