%col {
  min-width: 80px;
  max-width: 150px;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

%col-1 {
    @extend %col;
    flex-basis: 20%;
}

%col-2 {
    @extend %col;
    flex-basis: 40%;
}
