.header {
   font-size: 1.2em;
    margin: 2em 0;

    a {
        color: blue;

        &:hover {
            text-decoration: underline;
        }
    }

    .name {
        font-size: 2em;
        font-style: italic;
    }

    .tagline {
        margin: .25em 0;
     }
}
