.intro {
  padding: .5em 0 3em 0;
  font-size: 1.1em;
  background: $color-bg--header;
  
  &__blurb {
    p {
      line-height: 1.7;
    }

    a {
      @extend %transition;
      transition-property: background;
      color: $color-text--link;
      border-bottom: 2px solid $color-text--link;
      padding: 0 2px;
      
      &:hover {
        background: $color-text--link;
        color: $white;
      }
    }
  }
}
