.nav {
  @extend %accent-font;
  padding: .4em 0;

  &__items {
    @extend %flex-container;
    justify-content: right;
  }

  &__item {
    @extend %transition;
    transition-property: color;
    margin-right: 2em;
    display: inline-block;
    padding: .2em;

    &--last {
      margin-right: 0;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
