.nav {
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  background: #fff;

  .nav-items {
    @extend %flex-container;
    width: 100%;
  }

  .nav-item {
    margin: 0 7px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .nav-item-email-link {
    margin-left: auto;
  }

  .nav-item-home-link {
    @extend %flex-container;

    .avatar {
      margin-right: 7px;
    }
  }
}
