.nav {
  font-size: 1rem;
  padding: 20px 0;

  @media (min-width: 700px) {
    padding: 50px 0 10px 0;
  }

  .nav-item {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $red;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
