<ul class="links">
  <li>
    <a href="https://github.com/taravancil/" class="footer__link">
      github
    </a>
  </li>
  <li>
    <a href="https://twitter.com/tbvancil/" class="footer__link">
      twitter
    </a>
  </li>
  <li>
    <a href="https://instagram.com/taravancil/" class="footer__link">
      instagram
    </a>
  </li>
  <li>
    <a href="https://taravancil.com/food/" class="footer__link">
      my food journal
    </a>
  </li>
  <li>
    <a href="https://github.com/taravancil" class="footer__link footer__link--last">
      RSS
    </a>
  </li>
</ul>
