<div class="col col-1">
<ul class="links">
  <li>
    <a href="https://taravancil.com/about/" class="footer__link">
      About
    </a>
  </li>
  <li>
    <a href="https://github.com/taravancil/" class="footer__link">
      GitHub
    </a>
  </li>
  <li>
    <a href="https://twitter.com/taravancil/" class="footer__link">
      Twitter
    </a>
  </li>
  <li>
    <a href="https://pinboard.in/u:taravancil" class="footer__link">
      My bookmarks
    </a>
  </li>
  <li>
    <a href="https://taravancil.com/blog/index.xml">
      RSS
    </a>
</ul>
</div>
