{{ partial "nav.html" }}
<footer class="footer small-text">
  <div class="container wide">
    <div class="flex">
      <div class="links-list">
        <h2 class="inline-heading">
          Here
        </h2>

        <ul class="undecorated-list">
          <li>
            <a class="undecorated-link" href="/speaking">
              Speaking
            </a>
          </li>

          <li>
            <a class="undecorated-link" href="/wishlist">
              Wishlist
            </a>
          </li>

          <li>
            <a class="undecorated-link" href="/blog/index.xml">
              RSS
            </a>
          </li>

          <li>
            <!-- <a class="undecorated-link" href="/wishlist">
              My wishlist
            </a> -->
          </li>

          <li></li>
        </ul>
      </div>

      <div class="links-list">
        <h2 class="inline-heading">
          Elsewhere <span aria-hidden="true">➚</span>
        </h2>

        <ul class="undecorated-list">
          <li>
            <a class="undecorated-link" href="https://twitter.com/taravancil">
              Twitter
            </a>
          </li>

          <li>
            <a class="undecorated-link" href="https://github.com/taravancil">
              GitHub
            </a>
          </li>

          <li>
            <a class="undecorated-link" href="https://instagram.com/taravancil">
              Instagram
            </a>
          </li>

          <li>
            <a
              class="undecorated-link"
              href="https://instagram.com/amataranails"
            >
              Instagram (nails)
            </a>
          </li>
        </ul>
      </div>

      <div class="flex-child--right">
        <form
          method="get"
          id="search"
          class="search"
          action="https://duckduckgo.com"
          onsubmit="this.elements[0].value = 'site:taravancil.com ' + this.elements[0].value;"
        >
          <div role="search" class="flex">
            <label for="q">Search</label>
            <input
              type="search"
              placeholder="Search taravancil.com"
              name="q"
              value=""
            />
            <button class="btn btn--primary btn--small" aria-label="Do search">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="license small-text">
      © 2019 Tara Vancil
    </div>
  </div>
</footer>
