<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if ne .Title "Tara Vancil" }}{{ .Title }} &bull; {{ end }}
    {{ .Site.Title }}
  </title>

  <!-- open graph -->
  <meta property="og:url" content="https://taravancil.com{{ .Permalink }}">

  <meta property="og:type" content="website">

  <meta property="twitter:site" content="@taravancil">

  <meta property="og:title" content="{{ .Title }}">
  <meta name="twitter:title" content="{{ .Title }}">

  <meta property="og:description" content="Tara Vancil is a web developer in Austin, TX.">
  <meta name="twitter:description" content="Tara Vancil is a web developer in Austin, TX.">

  <meta name="twitter:card" content="summary">

  <link rel="canonical" href="{{ .URL }}" />
  <link rel="stylesheet" href="/css/style.min.css" />
  {{ if .Params.css }}
    <link rel="stylesheet" href="{{ .Params.css }}" />
  {{ end }}
  <link rel="icon" href="/images/favicon.png">
</head>
