<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if ne .Title "Tara Vancil" }}{{ .Title }} - {{ end }}
    {{ .Site.Title }}
  </title>

  <meta name="author" content="Tara Vancil">
  <meta property="og:url" content="https://taravancil.com{{ .Permalink }}">

  <meta property="og:type" content="website">

  <meta property="twitter:site" content="@taravancil">

  <meta property="og:title" content="{{ .Title }}">
  <meta name="twitter:title" content="{{ .Title }}">

  <meta property="og:description" content="Tara Vancil is a web developer in Austin, TX.">
  <meta name="twitter:description" content="Tara Vancil is a web developer in Austin, TX.">

  <meta name="twitter:card" content="summary">

  <link rel="canonical" href="{{ .URL }}" />

  <link rel="dns-prefetch" href="https://fonts.taravancil.com">
  <link rel="dns-prefetch" href="https://recurse-scout.com">
  <link rel="preconnect" href="https://recurse-scout.com">
  <link rel="preload" href="https://www.recurse-scout.com/loader.js?t=0dcb1e3c1156a3fd0bda3cd94cfb434f" as="script">
  <link rel="preload" href="/css/style.min.css" as="style" />

  <link rel="stylesheet" href="/css/style.min.css" />
  {{ if .Params.css }}
  <link rel="stylesheet" href="{{ .Params.css }}" />
  {{ end }}
  <link rel="icon" href="/images/favicon.png">
</head>