<nav class="nav" role="navigation">
  <div class="container wide">
    <div class="nav-items">
      <a href="/" class="nav-item nav-item-home-link  undecorated-link">
        <img class="icon" alt="" src="/images/favicon.png" />
        Tara Vancil
      </a>

      <a class="nav-item undecorated-link" href="/about/">
        About
      </a>

      <a class="nav-item undecorated-link" href="/blog/">
        Blog
      </a>

      <a class="nav-item undecorated-link" href="/projects/">
        Projects
      </a>

      <a class="nav-item undecorated-link nav-item-email-link flex-child--right tablet-el" href="mailto:contact@taravancil.com">
        <span class="label">contact@taravancil.com</span>
      </a>
    </div>
  </div>
</nav>