<ul class="sidebar__module links">
  <li>
    <a href="https://github.com/taravancil/" class="sidebar__link">
      github
    </a>
  </li>
  <li>
    <a href="https://twitter.com/tbvancil/" class="sidebar__link">
      twitter
    </a>
  </li>
  <li>
    <a href="https://instagram.com/taravancil/" class="sidebar__link">
      instagram
    </a>
  </li>
  <li>
    <a href="https://taravancil.com/food/" class="sidebar__link">
      my food journal
    </a>
  </li>
  <li>
    <a href="https://github.com/taravancil" class="sidebar__link sidebar__link--last">
      RSS
    </a>
  </li>
</ul>
