<!doctype html>
<html>
  {{ partial "head.html" . }}

  <body class="home">
    <main>
      <div class="hero">
        <div class="container">
          <h1>
            <span class="first-name">Tara</span>
            <span class="last-name">Vancil</span>
          </h1>
          <div class="intro">
            <p>
              Hi. I'm Tara Vancil.
            </p>

            <p>
              I help build <a href="https://beakerbrowser.com">
              Beaker</a>, an experimental peer-to-peer browser, and <a href="https://hashbase.io">Hashbase</a>, a cloud peer service for files hosted with the Dat protocol.
            </p>

            <!-- TODO -->
          </div>

          <div class="links">
            <a href="/about">About me</a>
            <a href="/work">My work</a>
            <a href="/blog">Blog</a>
          </div>
        </div>

        <img class="shapes" src="/images/shapes.svg" />
      </div>

      <div class="recent-activity">
        <div class="container">
          <div class="posts">
  	        <h2>Recent posts</h2>
  	        <ul class="posts-list">
    	        {{ range first 3 (where .Data.Pages "Section" "blog") }}
                {{ partial "post-summary.html" . }}
    	        {{ end }}
    	      </ul>
          </div>

          <div class="talks">
            <h2>Talks</h2>
          </div>
        </div>
      </div>

    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
