<!doctype html>
<html>
  {{ partial "head.html" . }}

  <body>
    <header class="header--home">
      <div class="container grid">
        <div class="intro">
          <h1 class="intro__heading">Hi. I'm Tara Vancil.</h1>
          <p class="intro__blurb">
            I <a href="https://github.com/taravancil">write code.</a>
          </p>
        </div>

        {{ partial "navigation.html" . }}
      </div>
    </header>

    <div class="recent">
      <div class="container">
        {{ range first 3 .Data.Pages }}
          {{ .Render "summary" }}
        {{ end }}
      </div>
    </div>

    {{ partial "footer.html" .}}
  </body>
</html>
