dl {
  @extend %module;
}

dt {
  font-weight: bold;

  &:after {
    content: ':';
  }
}

dd {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
  border-bottom: 1px dotted;
}

h6 {
  text-transform: uppercase;
}

h5, h6 {
  font-size: 1rem;
}
