body {
  background: $color-bg;
}

pre {
  background: $black;
  padding: 1.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: .9em;
  margin: 2em 0;
}

code {
  color: $color-text--accent-inline;
  font-weight: 400;
  padding: .1em .2em;
}

pre code {
  color: inherit;
  border: none;
  background: none;
}

dl {
  @extend %module;
}

dt {
  font-weight: bold;

  &:after {
    content: ':';
  }
}

dd {
  margin-bottom: 1em;
}
