blockquote {
  position: relative;
  font-style: italic;
  margin: 40px;

  &:before,
  &:after {
    position: absolute;
    font-size: 60px;
    font-weight: 600;
  }

  &:before {
    content: "“";
    top: -40px;
    left: -40px;
  }

  &:after {
    content: "”";
    bottom: -40px;
    right: 0px;
  }
}
