.highlight {
  max-width: 500px;
}

pre,
code {
  font-family: Consolas, 'Lucida console', Menlo, monaco, monospace;
  font-size: .85rem;
  font-weight: 500;
}

pre {
  padding: 15px;
  background: $purple--border;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  color: inherit;
  border: none;
  background: none;
}
