<!doctype html>
<html>
  {{ partial "head.html" . }}

  <body>
    <div class="container">
    {{ partial "header.html" }}
      <main>
      	<p>
          I'm a Systems Engineer at Cloudflare where I'm helping to build an <a
          href="https://blog.cloudflare.com/cloudflare-acquires-eager/">application
          platform for the web</a>. Before that, I was at <a
          href="https://recurse.com">the Recurse Center</a>, a wonderful
          community for programmers.
        </p>

        <p>
          Outside of programming, I enjoy weightlifting (the sport) and
          studying nutrition and modern ailments like obesity, diabetes, and cancer.
        </p>
      </main>
      {{ partial "footer.html" . }}
    </div>
  </body>
</html>
