<!doctype html>
<html>
  {{ partial "head.html" . }}

  <body>
    {{ partial "header.html" . }}

    <main class="main">
      <div class="container">
        <div class="main__content">
          <h1>My Food Journal</h1>
          <ul class="posts-list">
            {{ range .Data.Pages }}
              {{ .Render "li" }}
            {{ end }}
          </ul>

          <div class="post post__content">
            <h2>What is this?</h2>

            <p>This is where I keep notes about the food and drink I put into my body.</p>

            <h3>Why?</h3>

            <p>I've adhered to several diets in the past five years, and while my methods changed, my motivation for monitoring what I consume has always been the same:</p>

            <p>
              <em>I want to live well for a long time.</em>
            </p>

            <p>
              It's my hope that by documenting:
              <ul>
                <li>my motivation for selecting a diet,</li>
                <li>how my body responds to the diet, and</li>
                <li>complications, doubts, and hiccups I encounter along the way,</li>
              </ul>
              <br>
              I will better position myself to make choices that support my health goals.
            </p>

            <h2>My diet history</h2>

            <p>I wrote <a href="/food/history/">a history of my eating habits</a> that details my diet from my childhood years through the present day.</p>

            <p>TL;DR Until I was 22, I ate a lot of carbohydrates and not much fat. This did not work for me.</p>
          </div>
        </div>
      </div>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
